PORT=5000
MONGO_URI=mongodb+srv://Pranav:Pranav@codealphaecommercestore.dw1aeiy.mongodb.net/?appName=CodeAlphaEcommerceStore
JWT_SECRET=CodeAlphaEcommerceStore
CLOUDINARY_CLOUD_NAME=CodeAlphaEcommerceStore
CLOUDINARY_API_KEY=357117193756237
CLOUDINARY_API_SECRET=qfjXhRQMQ35y_rAWOQEIE6lybOk
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
GMAIL_USER=your_email@gmail.com
GMAIL_PASS=your_email_password
FRONTEND_URL=http://localhost:3000
NODE_ENV=development